

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

.container {
	width: 800px;
	overflow: hidden;
	margin: 0 auto;
	padding-top: 50px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

.controls {
	float: left;
	width: 200px;
	height: 680px;
}

.control-group {
	margin-bottom: 20px;
	padding: 15px 12px;
	color: #333;
	background-color: #fff;
	box-shadow: inset 0px 1px 3px #999;
	text-align: center;
}

.control-group h3 {
	color: black;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.control-group span {
	font-size: 12px;
}

.buttons {
	font-weight: bold;
	padding: 5px 10px;
}

.stopwatch {
	font-size: 20px;
	height: 100%;
	line-height: 20px;
	text-align: center;
	padding: 3px 0 7px;
}

#turnsCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#mistakesCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#puzzle {
	float: right;
	width: 600px;
}

#puzzle td.key {
	font-weight: bold;
	font-family: Monospace;
}

#puzzle td.key.top {
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 5px;
	line-height: 1.3;
}

#puzzle td.key.left {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
}

#puzzle td.cell {
	border: 1px solid #ccc;
	background-color: #fff;
	width: 105px;
	height: 105px;
	font-size: 40px;
}

#puzzle td.cell:hover {
	background-color: #F7D358;
	box-shadow: 0 0 5px 2px #FF8000 inset;
}
