

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

.container {
	width: 800px;
	height: calc(100% - 76px);
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0 20px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

.gameTable {
	border-collapse: collapse;
}

.controls {
	float: left;
	width: 200px;
	height: 100%;
}

.control-group {
	margin-bottom: 20px;
	padding: 15px 12px;
	color: #333;
	background-color: #fff;
	box-shadow: inset 0px 1px 3px #999;
	text-align: center;
}

.control-group h3 {
	color: black;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.control-group span {
	font-size: 12px;
}

.control-group .buttons {
	display: block;
	width: 100%;
}

.control-group .buttons button {
	width: 100%;
}

.stopwatch {
	font-size: 20px;
	height: 100%;
	line-height: 20px;
	text-align: center;
	padding: 3px 0 7px;
}

#turnsCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#mistakesCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#puzzle {
	float: right;
	width: 590px;
	height: 100%;
}

#puzzle table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

#puzzle th.key {
	font-weight: bold;
	font-family: Monospace;
	border: solid #ccc;
}

#puzzle tr.top  {
	height: 20px;
}

#puzzle th.key.top {
	text-align: center;
	vertical-align: bottom;
	padding-bottom: 5px;
	line-height: 1.3;
	border-width: 0 2px;
}

#puzzle th.key.left {
	text-align: right;
	vertical-align: middle;
	padding-right: 10px;
	border-width: 2px 0;
}

#puzzle td.cell {
	border: 2px solid #ccc;
	background-color: #fff;
	font-size: 40px;
}

#puzzle td.cell:hover {
	background-color: #F7D358;
	box-shadow: 0 0 5px 2px #FF8000 inset;
}
