

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

.container {
	width: 800px;
	height: calc(100% - 76px);
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0 20px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

.gameTable {
	border-collapse: collapse;
}

.controls {
	float: left;
	width: 200px;
	height: 100%;
}

.control-group {
	margin-bottom: 20px;
	padding: 15px 12px;
	color: #333;
	background-color: #fff;
	box-shadow: inset 0px 1px 3px #999;
	text-align: center;
}

.control-group h3 {
	color: black;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}

.control-group span {
	font-size: 12px;
}

.control-group .buttons {
	display: block;
	width: 100%;
}

.control-group .buttons button {
	width: 100%;
}

.stopwatch {
	font-size: 20px;
	height: 100%;
	line-height: 20px;
	text-align: center;
	padding: 3px 0 7px;
}

#turnsCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#mistakesCounter {
	font-size: 20px;
	font-weight: bold;
	color: #999;
}

#puzzle {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	float: right;
	width: 590px;
	height: 100%;
}

#puzzle .top div,
#puzzle .left div,
#puzzle #cells span {
	border-color: #ccc;
	border-style: solid;
}

#puzzle pre {
	margin: 0;
}

#puzzle .top {
	display: flex;
}

#puzzle .top div:first-child {
	border-left-width: 2px;
}

#puzzle .top div {
	border-width: 0 2px 0 0;
	padding-bottom: 5px;
	justify-content: center;
	align-items: flex-end;
}

#puzzle .top pre {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

#puzzle .top div,
#puzzle .left div {
	flex: 1;
	display: flex;
}

#puzzle .left {
	display: flex;
	flex-direction: column;
}

#puzzle .left div:first-child {
	border-top-width: 2px;
}

#puzzle .left div {
	border-width: 0 0 2px 0;
	padding-right: 5px;
	justify-content: flex-end;
	align-items: center;
}

#puzzle #cells {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
}

#puzzle #cells div {
	display: table-row;
}

#puzzle #cells span {
	display: table-cell;
	border-width: 2px;
	background-color: #fff;
}

#puzzle #cells span div {
	position: relative;
}

#puzzle #cells span.yes,
#puzzle #cells span.suggest-yes {
	background-color: #4444ff;
}

#puzzle #cells span.no,
#puzzle #cells span.suggest-no {
	background-color: #a9a9a9;
}

#puzzle #cells span.wrong {
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='20px' width='22px'><text x='0px' y='20px' fill='pink' font-size='30'>X</text></svg>");
	background-position: center center;
	background-repeat: no-repeat;
}

#puzzle #cells span:hover {
	/*background-color: #F7D35875;*/
	box-shadow: 0 0 5px 2px #FF8000 inset;
}

#win-message {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #0006;
}

#win-message > div {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	height: 150px;
	width: 500px;
	margin: auto;
	padding: 30px;
	background-color: white;
	box-shadow: 5px 5px 10px #0007;
}

#win-message .buttons {
	position: relative;
	width: 100%;
}

#win-message button {
	position: absolute;
	right: 0;
}