html {
	height: 100%;
}

body {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 13px;
	background-color: #e7e7e7b9;
	height: 100%;
}

table, th, td {
    border: .1em solid #000;
    background-color: #fff;
}

table {
    float:left;
    border-collapse: collapse;
    border-spacing: 0.2em;
    width: 280px;
    margin-top: 50px;
    margin-left: 10px;
    text-align: center;
}

thead {
    border-collapse: collapse;
    border-spacing: 0.2em;
    border: .1em solid #000;

    font-weight: 900;
}

th, td {
    padding: 0.2em;
}

thead th {
    font-weight: bold;
    background-color:#e5e5e5;
    border: .1em solid #000;
}

th.vtop, td.vtop {
    vertical-align: top;
}

th.vbottom, td.vbottom {
    vertical-align: bottom;
}